* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: white;
  border-collapse: collapse;
  grid-gap: 1px;
}

.grid-container>div {
  outline: 1px solid rgb(255, 164, 164);
  border-radius: 1px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.mid {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  transition: 0.3s;
}

button:hover {
  background-color: darkslategray;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 70px;
}

button.active {
  background-color: darkslategray;
}

p {
  font-weight: bold;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  accent-color: darkslategrey;
}

.select-color {
  appearance: none;
  border-width: 0;
  height: 50px;
}

.headline {
  margin-left: 120px;
}